{% if site.enableTags ==  true %}
	<div id="tag-filter" class="tag-group">
		<span class="tag-filter tag-cloud all active">All</span>
		
    {% assign tagarray = site.tagarray %}
    {% for project in site.data.projects %}
      {% for tag in project.tags %}
        {% assign tagarray = tagarray | push: tag %}
      {% endfor %}
    {% endfor %}

    {% assign tags = tagarray[1] %}
    {% for item in tagarray %}
      {% assign tagDown = item | downcase %}
      {% assign tagComp = tags | downcase %}
      {% unless tagComp contains tagDown %}
        {% capture tags %}{{ tags }}|{{ item }}{% endcapture %}
      {% endunless %}
    {% endfor %}

    {% assign taglist = tags | split: '|' | sort %}
    {% for tag in taglist %}
      <span class="tag-filter tag-cloud" data-tag="{{ tag | downcase }}">
          {% if tag == 'D3.js' %}
            <img style="max-height:20px;"
                src="/assets/img/d3js-logo.png"/>
          {% elsif tag == 'ETL' %}
            <img style="max-height:24px;"
                src="/assets/img/etl.png"/>
          {% elsif tag == 'Datavis' %}
            <img style="max-height:22px;"
                src="/assets/img/datavis.png"/>
          {% elsif tag == 'Python' %}
            <img style="max-height:22px;"
                src="/assets/img/python.png"/>
          {% elsif tag == 'React.js' %}
            <img style="max-height:22px;"
                src="/assets/img/reactjs.png"/>
          {% elsif tag == 'Vue.js' %}
            <img style="max-height:22px;"
                src="/assets/img/vuejs.png"/>
          {% elsif tag == 'BigData' %}
            <img style="max-height:27px;"
                src="/assets/img/hadoop.png"/>
          {% elsif tag == 'Grafana' %}
            <img style="max-height:22px;"
                src="/assets/img/grafana.png"/>
          {% elsif tag == 'Medium' %}
            <img style="max-height:22px;"
                src="/assets/img/medium.png"/>
          {% elsif tag == 'Others' %}
            <img style="max-height:22px;"
                src="/assets/img/plus.png"/>
          {% endif %}
          {{ tag }}
      </span>
    {% endfor %}
	</div>
{% endif %}
