{% if site.enableTags ==  true %}
	<div id="tag-filter" class="tag-group">
		<span class="tag-filter tag-cloud all active">All</span>
		
    {% assign tagarray = site.tagarray %}
    {% for project in site.data.projects %}
      {% for tag in project.tags %}
        {% assign tagarray = tagarray | push: tag %}
      {% endfor %}
    {% endfor %}

    {% assign tags = tagarray[1] %}
    {% for item in tagarray %}
      {% assign tagDown = item | downcase %}
      {% assign tagComp = tags | downcase %}
      {% unless tagComp contains tagDown %}
        {% capture tags %}{{ tags }}|{{ item }}{% endcapture %}
      {% endunless %}
    {% endfor %}

    {% assign taglist = tags | split: '|' | sort %}
    {% for tag in taglist %}
      <span class="tag-filter tag-cloud" data-tag="{{ tag | downcase }}">
          {% if tag == 'D3.js' %}
            <img style="max-height:20px;"
                src="/assets/img/d3js-logo.png"/>
          {% elsif tag == 'ETL' %}
            <img style="max-height:24px;"
                src="https://cdn4.iconfinder.com/data/icons/graph-and-diagram-3/64/26-128.png"/>
          {% elsif tag == 'Datavis' %}
            <img style="max-height:22px;"
                src="https://cdn0.iconfinder.com/data/icons/business-startup-10/50/41-128.png"/>
          {% elsif tag == 'Python' %}
            <img style="max-height:22px;"
                src="http://api-dupi2.localshi.com/image/5acb2da03b3948e4949869bfe7eb0c86.png"/>
          {% elsif tag == 'React.js' %}
            <img style="max-height:22px;"
                src="http://api-dupi2.localshi.com/image/5acb2da03b3948e4949869bfe7eb0c86.png"/>
          {% elsif tag == 'Vue.js' %}
            <img style="max-height:22px;"
                src="http://api-dupi2.localshi.com/image/84dbda0ce960429fab95d5c64c121f59.png"/>
          {% elsif tag == 'BigData' %}
            <img style="max-height:27px;"
                src="http://api-dupi2.localshi.com/image/bacc154f1c194f3dbb28bb6feb59d6c7.png"/>
          {% elsif tag == 'Grafana' %}
            <img style="max-height:22px;"
                src="http://api-dupi2.localshi.com/image/0153fe16b9854432b6b21ab93e07fed3.png"/>
          {% elsif tag == 'Medium' %}
            <img style="max-height:22px;"
                src="http://api-dupi2.localshi.com/image/2c46f90ea9614820a44bba1b02d48e1b.png"/>
          {% elsif tag == 'Others' %}
            <img style="max-height:22px;"
                src="http://api-dupi2.localshi.com/image/8b218d7ea7ca4c649be008be637b2030.png"/>
          {% endif %}
          {{ tag }}
      </span>
    {% endfor %}
	</div>
{% endif %}
